.container {
    max-width: auto;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    border-style: hidden double none;
    border-width: 10px;
    border-color: rgb(161, 123, 24);
    border-radius: ;
  }
 
  #AClogo {
    flex-direction: left;
    border-radius: 500px;
    margin-left: 5px;
    padding: 11px;
    max-width: 50%; /* Adjust the width as needed */
    height: auto; /*maintain aspect ratio*/
  }
  #CL {
    flex-direction: left;
    border-radius: 365px;
    margin-left: 10px;
    padding: 11px;
    max-width: 25%; /* Adjust the width as needed */
    height: auto; /*maintain aspect ratio*/
  }
  #FM {
    flex-direction: left;
    border-radius: 365px;
    margin-left: 5px;
    padding: 11px;
    max-width: 18%; /* Adjust the width as needed */
    height: auto; /*maintain aspect ratio*/
  }
  
  .navbar a {
    justify-content: right;
    flex-direction: row;
    color: goldenrod;
    margin-right: 75px;
  }
  
  .content {
   
    color: gold;
    margin: 85px;
  }
  .content {
    font-stretch: condensed;
  }

.navbar :hover{
  color: gold;
}
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0;
    position: fixed;
    font-size: x-large;
    font-style: italic;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 99;
    
    
  }
